@model (int Id, string ControllerName)

<div class="modal fade" id="deleteModal-@Model.Id" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this item? This cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                @if (Model.ControllerName.Contains("/"))
                {
                    <form asp-controller="@Model.ControllerName.Split('/')[0]" 
                        asp-action="@Model.ControllerName.Split('/')[1]" 
                        method="post">
                        <input type="hidden" name="photoId" value="@Model.Id" />
                        <input type="hidden" name="siteId" value="@ViewContext.RouteData.Values["id"]" />
                        <button type="submit" class="btn btn-danger">Yes, Delete Image</button>
                    </form>
                }
                else
                {
                    <form asp-controller="@Model.ControllerName" 
                        asp-action="Delete" 
                        method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>