<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RVPark</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RVPark.styles.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3">
        <div id="sidebar" class="container-fluid">
            <div class="row flex-nowrap">
                
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <h3>Admin Portal</h3>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a asp-controller="RvSites" asp-action="Index" class="nav-link text-white @(ViewContext.RouteData.Values["Controller"]?.ToString() == "rVSites" ? "active bg-primary" : "")">
                                    Manage Sites
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Pricing" asp-action="Index" class="nav-link text-white @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Pricing" ? "active bg-primary" : "")">
                                    Maintain Pricing
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Reports" asp-action="Index" class="nav-link text-white @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Reports" ? "active bg-primary" : "")">
                                    Generate Reports
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col py-3">
                    @RenderBody() </div>

            </div>
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - RVPark - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
